VITE_SUPABASE_URL=https://jxbwlqxpxdxxfxumsrea.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4YndscXhweGR4eGZ4dW1zcmVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyODMwNDMsImV4cCI6MjEwNDg1OTA0M30.JbtD5E-LIH3Sd6zd-kZCsjXwgnX-g0An58q3rBCK1B0
